window {
  background-color: #53774c;
}

.my_hbox_dealer {
	margin-left: 310px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.my_hbox_table {
	margin-left: 40px;
}

.my_hbox_player {

	margin-left: 310px;
	margin-top: 80px;
	
}

#card_played1 {

	margin-left: 100px;
	margin-right: 20px;
}
